.banner {
  position: relative;
  color: $color-tertiary;
  letter-spacing: 0.04em;

  img {
    width: 100%;
    height: 250px;
    display: block;
  }

  h1 {
    font-size: 44px;
    margin-bottom: 24px;
  }

  p {
    font-size: 20px;
    line-height: 30px;
  }
  
  .banner-text {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
