.footer {
  .upperfooter {
    width: 100%;
    padding: 90px 0;

    div {
      width: 50%;
    }
  }

  .hr {
    opacity: 0.4;
    border: 0.5px solid #ffffff;
  }
  .lowerfooter {
    width: 100%;

    padding: 90px 0;
    letter-spacing: 0.02em;

    .afrianska {
      width: 50%;
      .logo {
        padding-bottom: 32px;
      }

      p {
        font-size: 1.6rem;
        line-height: 2.6rem;
        font-weight: $fw-lighter;
        padding-bottom: 1.6rem;

        span {
          font-weight: $fw-bold;
          letter-spacing: 0.05em;
        }
      }
    }
    .about,
    .socialmedia {
      width: 20%;
      padding-left: 19%;
    }

    h6 {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: $fw-bold;
      padding-bottom: 32px;
      margin-right: 0;
    }
    div {
      ul {
        li {
          font-size: 1.6rem;
          line-height: 2.6rem;

          font-weight: $fw-lighter;
          padding-bottom: 16px;
        }
      }
    }
  }
  .copyright {
    padding-bottom: 64px;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: 0.05em;
    opacity: 0.4;
  }
}
