html {
  font-family: "Roboto";
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.04em;
}
.main {
  width: 100%;
  max-width: 940px;
  margin: 0 auto 80px;
  padding-top: 40px;
}
.footer {
  max-width: 1223.5px;
  width: 100%;
  background-color: #316099;
  border-radius: 0px 200px 0px 0px;
  color: $color-tertiary;
}
// address {
//   font-size: 14px;
//   font-weight: bold;
//   color: $color-primary
//   letter-spacing:0.04em;
// }
