.header {
  margin: 0 auto;
  padding: 49px 100px;
}
nav {
  li {
    display: inline-block;
    margin-left: 50px;
    a {
      text-decoration: none;
      color: $color-primary;
      font-weight: $fw-bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
//YAAAAAAAAAAAAAAAAAAAAAA