.main {
  .principal-uppermain {
    .article {
      flex-direction: column;
      padding-right: 10px;
    }

    .article-footer-icons {
      img {
        margin: 0 25px;
      }
    }
  }
  .others-uppermain {
    width: 100%;
    align-content: center;
    margin-top: 40px;
    article {
      width: 32%;

      h4 {
        font-size: 2.2rem;
        line-height: 3.2rem;
      }

      .article-footer {
        padding-top: 33px;
      }
    }
  }
  .seeall {
    color: $color-secondary;
    font-size: 1.6rem;
    font-weight: $fw-bold;
    line-height: 18px;
    margin-top: 40px;
    text-align: right;
  }

  hr {
    margin-top: 30px;
    margin-bottom: 30px;
    color: 1px solid rgba(0, 0, 0, 0.2);
  }

  .lowermain {
    flex-direction: column;

    .lowermain-article {
      height: 200px;
      margin-bottom: 30px;
      .lowermain-article-text {
        padding-left: 20px;
        flex-direction: column;
        h4 {
          font-size: 1.8rem;

          line-height: 2.8rem;
        }
      }
    }
  }
  .oldnewpost {
    .oldpost {
      :nth-child(2) {
        margin-left: 30px;
      }
    }
    .newpost {
      justify-content: left;
      p {
        margin-right: 30px;
      }
    }
  }
}
