/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  font-family: "Roboto";
  font-size: 62.5%;
  margin: 0 auto;
  letter-spacing: 0.04em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto 80px;
  padding-top: 40px;
}

.footer {
  background-color: #316099;
  letter-spacing: 0.05em;
  border-radius: 0 200px 0 0;
  color: #fff;
}

h1 {
  font-size: 4.4rem;
  margin-bottom: 2.4rem;
}

h2 {
  margin: 35px;
  margin-left: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #356ead;
}

h3 {
  color: #1f3f68;
  font-size: 3.6rem;
  font-weight: bold;
}

h4 {
  color: #1f3f68;
  font-weight: bold;
}

h5 {
  font-size: 2.8rem;
  padding-left: 3.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

h6 {
  font-size: 3.6rem;
  line-height: 4.6rem;
  font-weight: normal;
}

address {
  color: #1f3f68;
  font-weight: bold;
  font-size: 1.4rem;
}

.article-footer-readingtime {
  padding: 10px;
  font-size: 1.4rem;
  padding-left: 0;
  color: rgba(0, 0, 0, 0.4);
}

.article-footer-icons img {
  margin-left: 25px;
}

.uppermain-article-text-paragraph {
  padding-top: 17px;
  font-size: 1.5rem;
  line-height: 26px;
}

.lowermain-article-text-paragraph {
  color: #000;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.04em;
  text-align: justify;
  margin-top: 5px;
}

.oldnewpost {
  font-size: 1.6rem;
  color: #356ead;
}

.upperfooter-paragraph {
  margin-top: 32px;
  font-size: 1.6rem;
  line-height: 26px;
  opacity: 0.6;
  font-weight: lighter;
}

.buttonarea {
  position: relative;
}

.buttonarea button {
  width: 220px;
  height: 56px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.04em;
  background-color: #5a98d0;
  border-radius: 10px;
  border: none;
  color: inherit;
  margin: auto;
  position: absolute;
  top: 50%;
  right: 0px;
}

.header {
  margin: 0 auto;
  padding: 49px 100px;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  font-size: 2rem;
}

nav li a {
  text-decoration: none;
  color: #1f3f68;
  font-weight: bold;
  font-size: inherit;
}

nav li a:hover {
  text-decoration: underline;
}

.banner {
  position: relative;
  color: #fff;
  letter-spacing: 0.04em;
}

.banner img {
  width: 100%;
  height: 250px;
  display: block;
}

.banner p {
  font-size: 2rem;
  line-height: 3rem;
}

.banner .banner-text {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchbar {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 0 25px 0 25px;
}

.searchbar input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 20px 20px;
}

.searchbar input:focus {
  outline: none;
}

.searchbar input::-webkit-input-placeholder {
  color: #1f3f68;
  font-size: 1.6rem;
}

.searchbar input:-ms-input-placeholder {
  color: #1f3f68;
  font-size: 1.6rem;
}

.searchbar input::-ms-input-placeholder {
  color: #1f3f68;
  font-size: 1.6rem;
}

.searchbar input::placeholder {
  color: #1f3f68;
  font-size: 1.6rem;
}

.main .principal-uppermain .article {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 10px;
}

.main .principal-uppermain .article-footer-icons img {
  margin: 0 25px;
}

.main .others-uppermain {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 40px;
}

.main .others-uppermain article {
  width: 32%;
}

.main .others-uppermain article h4 {
  font-size: 2.2rem;
  line-height: 3.2rem;
}

.main .others-uppermain article .article-footer {
  padding-top: 33px;
}

.main .seeall {
  color: #356ead;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 18px;
  margin-top: 40px;
  text-align: right;
}

.main hr {
  margin-top: 30px;
  margin-bottom: 30px;
  color: 1px solid rgba(0, 0, 0, 0.2);
}

.main .lowermain {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .lowermain .lowermain-article {
  height: 200px;
  margin-bottom: 30px;
}

.main .lowermain .lowermain-article .lowermain-article-text {
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .lowermain .lowermain-article .lowermain-article-text h4 {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.main .oldnewpost .oldpost :nth-child(2) {
  margin-left: 30px;
}

.main .oldnewpost .newpost {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.main .oldnewpost .newpost p {
  margin-right: 30px;
}

.footer .upperfooter {
  width: 100%;
  padding: 90px 0;
}

.footer .upperfooter div {
  width: 50%;
}

.footer .hr {
  opacity: 0.4;
  border: 0.5px solid #ffffff;
}

.footer .lowerfooter {
  width: 100%;
  padding: 90px 0;
  letter-spacing: 0.02em;
}

.footer .lowerfooter .afrianska {
  width: 50%;
}

.footer .lowerfooter .afrianska .logo {
  padding-bottom: 32px;
}

.footer .lowerfooter .afrianska p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: lighter;
  padding-bottom: 1.6rem;
}

.footer .lowerfooter .afrianska p span {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.footer .lowerfooter .about,
.footer .lowerfooter .socialmedia {
  width: 20%;
  padding-left: 19%;
}

.footer .lowerfooter h6 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold;
  padding-bottom: 32px;
  margin-right: 0;
}

.footer .lowerfooter div ul li {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: lighter;
  padding-bottom: 16px;
}

.footer .copyright {
  padding-bottom: 64px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.05em;
  opacity: 0.4;
}
/*# sourceMappingURL=main.css.map */